* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    /*font-family: "Roboto Slab", serif;*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    background-color: #1B2A39;
}



nav {
    background: #1B2A39;
    height: 80px;
    width: 100%;
    box-shadow: 0px 3px 15px 12px rgba(0, 0, 0, 0.398);

}

.logo {
    height: 45px;
    margin-left: 100px;
    margin-top: 12px;
}

nav ul {
    float: right;
    margin-right: 100px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #DEA018;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active {
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    transition: .5s;
}

.sec1 {
    width: 100%;
    margin: 10vh 5vh 10vh 5vh;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 3px solid rgb(217, 113, 113);

}

.heading {
    margin: 10vh;
    display: flexbox;
    margin: 10px;
    width: 500px;
    border: 3px solid rgb(126, 189, 81);
}

.map {
    display: flexbox;
    padding-right: 70px;
    border: 3px solid red;

}

.map iframe {
    position: relative;
    /* or absolute, fixed, etc. */
    z-index: 2;
}

#yellow {
    position: relative;
    /* or absolute, fixed, etc. */
    z-index: 1;
    /* z-index: -1000; */
    height: 400px;
    width: 300px;
    background-color: #DEA018;
    border-radius: 25px;
    margin: -550px 0 0 400px;
}

.footer {
    color: #ffffff;
    margin: 0 auto;
    background-color: #1B2A39;
    height: auto;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
    box-shadow: 0px -10px 30px 12px rgba(0, 0, 0, 0.386);
    flex-wrap: wrap;
}

.footerItem {
    margin: 0 auto;
    padding: 0 2vh;
    text-align: center;
    width: 22rem;
    display: flexbox;

}

.footerItem h2,
p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.last {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 3rem;
    align-items: center;
    background-color: #efefef;
}

@media (max-width: 480px) {

    .logo {
        margin-left: 10%;
        margin-top: 4%;
    }

    #byLine {
        color: rgba(255, 255, 255, 0);
    }

    #rights {
        position: absolute;
        margin: 0 auto
    }

    .sec1 {
        margin: 8vh 2vh 8vh 2vh;
        width: 95%;

    }

    .heading {
        min-width: 300px;
    }

    .map iframe {
        width: 330px;
        height: 300px;
        padding-left: 7%;
    }

    .map {
        padding-right: 0px;
    }

    #yellow {
        margin: -220px 0 0 160px;
        height: 250px;
        width: 200px;
    }

}


@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {


    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    @media (max-width:1130px) {}

}

/*Button css*/

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1B2A39;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1B2A39;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/*Dark version*/
/* CSS */
.button-29 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #efefef;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    will-change: transform;
}

.button-29:disabled {
    pointer-events: none;
}

.button-29:hover {
    color: black;
    background-color: #ffffff;
    box-shadow: rgba(130, 130, 130, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}