* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background: #1B2A39;
    height: 80px;
    width: 100%;

}

.logo {
    height: 45px;
    margin-left: 20px;
    margin-top: 12px;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #DEA018;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

.active {
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    transition: .5s;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {


    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    @media (max-width:1130px) {}

}

.poster {
    width: 100%;

}

.poster img {
    width: 100%;
    height: 93vh;
}

.sec1 {
    width: 100%;
    min-height: 100vh;
}

.intro {
    text-align: center;
    margin: 30px 50px;
    font-size: 28px;
    font-family: sans-serif;


}

.sections {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 10px 80px;
    justify-content: space-between;

}

.sections .headers {
    font-size: x-large;
    font-weight: bold;
}

@media (max-width: 480px) {

    .sec1 {
        height: auto;
        padding-bottom: 5vh;
    }

    .sections {
        width: 100%;
        margin: 0;
        height: auto;
        justify-content: center;

    }



    #byLine {
        color: rgba(255, 255, 255, 0);
    }

    #rights {
        position: absolute;
        margin: 0 auto
    }

}

.sections div {
    display: flex;
    flex-direction: column;
    min-width: 395px;
    max-width: 30%;
    height: auto;
    font-size: large;

}

.sections div img {
    margin: 20px 0;
}

.sections div p:first-of-type {
    text-align: center;

}

.section div div {
    width: 100%;
}


.button-link {

    background-color: #f0f0f0;
    color: #000;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    text-decoration: none;
    white-space: nowrap;
    padding: 10px 5px;
    margin: 10px 0;
    width: auto;


}

.button-link:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}



.partners {
    background-color: #283E54;
    padding: 5vh 0;

}

.partners h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: x-large;
    padding: 5vh 0;
    color: white;
}

.partners img {
    max-width: 380px;
    display: flexbox;
    margin: 20px;

}

.sponsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 5vh;
}


.footer {
    color: #ffffff;
    margin: 0 auto;
    background-color: #1B2A39;
    height: auto;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 3rem;
    flex-wrap: wrap;
}

.footerItem {
    margin: 0 auto;
    padding: 0 2vh;
    display: flexbox;
    text-align: center;
    width: 22rem;
}

.footerItem h2,
p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.last {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 3rem;
    align-items: center;
}

/*Button css*/

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1B2A39;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1B2A39;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/*Dark version*/
/* CSS */
.button-29 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #efefef;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    will-change: transform;
}

.button-29:disabled {
    pointer-events: none;
}

.button-29:hover {
    color: black;
    background-color: #ffffff;
    box-shadow: rgba(130, 130, 130, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}