* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    /*font-family: "Roboto Slab", serif;*/
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    overflow-x: hidden;
}

/*Not adapted for mobile versions currently*/
@media only screen and (max-width: 1300px) {
    body {
        background-color: lightblue;
    }

}

nav {
    background: #1B2A39;
    height: 80px;
    width: 100%;

}

.logo {
    height: 45px;
    /*   margin-left: 100px;*/
    margin-left: 20px;
    /* Adjusted margin */
    margin-top: 12px;
}

nav ul {
    float: right;
    /* margin-right: 100px; */
    margin-right: 20px;
    /* Adjusted margin */
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #DEA018;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
}

a.active {
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    transition: .5s;
}

.cover {
    height: 23rem;
    text-align: center;
    color: #000000;
    width: 100%;
    color: #ffffff;
    /* font-size: large;
    display: block; */
    /* position: absolute; */
    position: relative;
    /* overflow-y: hidden;
    overflow-x: hidden; */
    text-shadow: black;

}

.coverText {
    position: relative;
    margin-top: 10rem;
    /* z-index: 10000; */
    z-index: 1;
    /* color: #ffffff; */
    font-size: x-large;
}

.cover img {
    height: 23rem;
    width: 100%;

}

.parallax {
    /* The image used */
    background-image: url("../imgs/aboutCoverOverlay.png");


    /* Set a specific height */
    min-height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* background-size: contain; */
    background-size: cover;
    /* Changed to cover for better adaptability */

}

/* Section 1 */
.sec1 {
    /* position: relative; */
    margin-top: 22.5rem;
    /* height: 30rem; */
    text-align: center;
    padding-top: 2rem;
    font-size: larger;
    margin-bottom: 1rem;

}

.sec1 h2 {
    /* padding-left: 10rem;
    padding-right: 10rem; */

    padding: 0 2rem;
    /* Reduced padding for better fit on small screens */
}

.sec1 li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;

}

.sec1 img {
    /* height: 320px;
    margin-left: 15px;
    margin-top: 2rem; */
    height: auto;
    width: 100%;
    max-width: 320px;
    /* Max width for images */
    margin: 2rem 15px 0 15px;
}

/* Section 2 */

.sec2 {
    /* height: 39rem;
    display: flex;
    position: relative;
    margin-left: 8rem;
    width: 100%;
    flex-wrap: wrap; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Centering for better layout */
    margin: 2rem;

}

.sec2Flex {
    /* color: #434343;
    width: 37rem;
    height: 36rem;
    margin-left: 3rem;
    text-align: center;
    padding: 0 2rem 0 2rem;
    font-size: large; */

    color: #434343;
    width: 100%;
    max-width: 600px;
    /* Adjusted width for responsiveness */
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-size: large;
}

.one {
    padding: 2rem 2.5rem 2rem 2.5rem;
    background-color: #cbd9e5;
}

.sec2Flex h3 {
    margin: 15px 20px 15px 20px;
    color: #434343;
    font-size: x-large;
}

#two {
    color: #434343;
    padding: 5rem 2.5rem 2rem 2.5rem;
}

#two h3 {
    color: #434343;
}

.sec2Flex button {
    margin-top: 3rem;
    color: 434343;
}

/* Section 3 */
.sec3 {
    color: #ffffff;
    background-color: #1B2A39;
    height: 58rem;
    text-align: center;
    padding-left: 12rem;
    padding-right: 12rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.sec3 h3 {
    font-size: xx-large;
    margin-bottom: 3rem;
}

.sec3 b {
    color: #DEA018;
    font-size: x-large;
}

.sec3 ul {
    text-align: left;
    font-size: larger;
    margin-bottom: 3rem;
}

.textAfterimg {
    font-size: larger;
}


.sec3 li {
    margin-top: 0.5rem;
}

.imgList img {
    margin-bottom: 5rem;
    margin-top: 2rem;
    height: 200px;
    margin-left: 5rem;
}

.sec4 {
    height: auto;
    text-align: center;
    font-size: x-large;
    padding: 3rem 5rem 3rem 5rem;
}

.socialPosts {
    margin-top: 3rem;
}

.socialPosts img {
    margin-left: 0%;
    margin-right: 0%;
}

.footer {
    color: #ffffff;
    background-color: #1B2A39;
    height: auto;
    display: flex;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 2rem;
    padding-bottom: 5rem
}

.footerItem {
    margin-left: 3rem;
    text-align: center;
    width: 22rem;
}

.footerItem h2,
p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.last {
    display: flex;
    justify-content: space-between;
    padding-left: 3rem;
    padding-right: 3rem;
    height: 3rem;
    align-items: center;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {


    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }



}

/*Button css*/

/* CSS */
.button-28 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1B2A39;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-28:disabled {
    pointer-events: none;
}

.button-28:hover {
    color: #fff;
    background-color: #1B2A39;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}

/*Dark version*/
/* CSS */
.button-29 {
    appearance: none;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-sizing: border-box;
    color: #efefef;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 70%;
    will-change: transform;
}

.button-29:disabled {
    pointer-events: none;
}

.button-29:hover {
    color: black;
    background-color: #ffffff;
    box-shadow: rgba(130, 130, 130, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-28:active {
    box-shadow: none;
    transform: translateY(0);
}